<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sj.ticket">

    <uses-permission
        android:name="android.permission.INTERNET"
        />
    <uses-permission
        android:name="android.permission.CAMERA"
        />
    <uses-permission
        android:name="android.permission.VIBRATE"
        />
    <application
        android:name=".app.TicketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.CustomCaptureActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CustomGunCaptureActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.ClassDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
    </application>

</manifest>